@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;800&display=swap');
/*font-family: 'Orbitron', sans-serif;*/
body{background-color: #fff;}

/*네비*/
body .nav-container{top:0;position: fixed;}
.nav-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
    list-style-type: none;
    position: fixed;
    z-index: 1; /*모든화면 가장위*/
    top:0;
    right:0;
    left:0;
}
.nav-item{padding:15px;cursor: pointer;float: center;}
.nav-item a{text-align: center;font-size: 18px;text-decoration: none;color:rgb(34, 34, 34);}
.nav-item:hover{background-color: rgb(218, 218, 218);}

#header01{height:250px; background: url(../img/header01.jpg) repeat-x center; background-size: auto 250px ; }
#header02{height:250px; background: url(../img/header02.jpeg) repeat-x center;}
#header03{height:250px; background: url(../img/header03.jpg) repeat-x center;}
#header04{height:250px; background: url(../img/header04.jpeg) repeat-x center; background-size: auto 250px ; }
#header05{height:250px; background: url(../img/header05.jpeg) repeat-x center -130px;}

#cont_center{float: center;  min-height: 1200px; background:rgb(255, 255, 255);border-right: 1px solid #dbdbdb; border-left: 1px solid #dbdbdb;}
.main{background-color: black;}
/*컨테이너*/
.container{position: static;  width: 900px; margin: 0 auto; background: rgba(0,0,0,0.2);}

/*title*/
.title{text-align: center; margin-top: 0px;}
.title p{font-size: 24px; color:#fff; background-color: rgba( 0, 0, 0, 0.35 ); display: inline-block;  padding: 25px 20px 10px 20px;margin-top: 100px;}
.tit{text-align: center; background-color: rgb(200, 200, 200); padding:10px; font-weight: bold;} 

/*cbox*/
.cbox{padding:15px; border-bottom:1px solid #dbdbdb;}
.cbox .cbox_tit{font-size: 20px; color: #2f7fa6; text-transform: uppercase; padding-bottom: 5px;}
.cbox .cbox_desc{font-size: 15px; border-bottom:  1px dashed #dbdbdb; padding-bottom: 15px; margin-bottom: 15px; color:rgb(73, 73, 73); line-height: 20px;}

/*가장 밑 박스 줄 삭제*/
#cont_center article:last-child{border-bottom:0;}

/*유튜브*/
.youtube { position: relative; width: 100%; padding-bottom: 56.25%; overflow: hidden;} /*overflow:hidden; footer 위로 움직이는거 방지*/
.youtube iframe { position: absolute; width: 100%; height: 100%; top: 0;}

/*헤더로 이동시켜주는 버튼*/
#upButton{width: 50px; position: fixed; bottom: 5px; right: 5px;}

/*푸터*/
#footer{ width: 100%; height: 100px; background: gray; text-align: center; }
.footfont{font-size: 15px; color: rgb(255, 255, 255); padding-top: 10px;}
/*푸터 아이콘*/
.contact-img{width: 13px; margin-right: 6px;}


/* 테이블 */
table {
    width: 100%;
    border: 1px solid #dddddd; /* 테이블 외곽선이 그려진다 */
    border-collapse: collapse; /* 테두리 사이의 간격 제거 */
}
th, td, tr {
    border: 1px solid #dddddd; /* 각 셀의 외곽선 그리기 */
    padding: 10px; /* 테두리와 내용 사이의 간격 */
    text-align: center; /* 글자 가운데 정렬 */
    vertical-align: middle; /* 셀 안의 내용 세로 정렬 : top, middle, bottom */
    font-size: 14px;
}
tbody tr:nth-child(odd) {background-color: #f1f1f1;}
.table-image{width: 350px;}

/*news card*/
.card {
	height: 400px;
	width: 100%;
	border-radius: 15px;
	display: inline-block;
	margin-top: 30px;
	margin-left: 0px;
	margin-bottom: 30px;
	position: relative;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	overflow: hidden;
}
.card-header {
	-webkit-transition: 0.5s; /*사파리 & 크롬*/
    -moz-transition: 0.5s;  /*파이어폭스*/
    -ms-transition: 0.5s;	/*인터넷 익스플로러*/
    -o-transition: 0.5s;  /*오페라*/
    transition: 0.5s;
	width: 100%;
	height: 270px;
	border-radius: 15px 15px 0 0;
	background-size: 100%;
	background-repeat: no-repeat;	
}
.card:hover .card-header {	opacity: 0.8; height: 200px;}

#card_img_ID_01{background-image: url("https://img8.yna.co.kr/etc/inner/KR/2020/11/19/AKR20201119060900005_01_i_P4.jpg");}
#card_img_ID_02{background-image: url("https://img8.yna.co.kr/etc/inner/KR/2020/11/20/AKR20201120042900003_01_i_P4.jpg"); background-position: center; }
#card_img_ID_03{background-image: url("http://contents.dt.co.kr/images/202011/2020112302109932060007[1].jpg?var=2524");}

.card-body-header h1 {font-size: 22px; font-weight: bold;}
.card-body-header{line-height: 25px; margin: 10px 20px 0px 20px;}
.card-body-description  {
    opacity: 0;
    color: #757B82;
    line-height: 25px;
    -webkit-transition: .2s ease-in-out; /*사파리&크롬*/
    -moz-transition: .2s ease-in-out; /*파이어폭스*/
    -ms-transition: .2s ease-in-out; /*익스플로러*/
    -o-transition: .2s ease-in-out; /*오페라*/
    transition : .2s ease-in-out;
    overflow: hidden;
	height: 180px;
	margin: 5px 20px;
}
.card:hover .card-body-description {
    opacity: 1;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition : .5s ease-in-out;
    overflow: scroll;
}
.card-body-hashtag {color: #2478FF; font-style: italic;}
.card-body-footer {
  	position: absolute; 
  	margin-top: 15px;
  	margin-bottom: 6px;
    bottom: 0; 
    width: 314px;
    font-size: 14px;
    color: #9FA5A8;
    padding: 0 15px;
}
.reg_date {	float: left;}

/*meduaquery 320/ 480/ 600/ 768/ 960/ 1024/ 1280*/
@media (max-width:1280px){.container{border: 0;}#table-image{width: 100%} #header04{width: 100%;}}
@media (max-width:1024px){}
@media (max-width:960px){.container{width:100%;} #cont_center{margin-right: 0; border-right: 0;}}
@media (max-width:768px){}
@media (max-width:600px){}
@media (max-width:480px){
.nav-item a{font-size: 13px;}
.nav-item{padding:13px;}
#upButton{width: 30px; position: fixed; bottom: 60px; right: 5px;}
}
@media (max-width:320px){}